Package: itgmania-bsys
Version: 0.1.30
Architecture: amd64
Maintainer: Bluedot Arcade <bluedotarcade@gmail.com>
Depends: bash, systemd, udev
Description: Custom ITGMania build with associated services and scripts.
