Package: itgmania-bsys
Version: 0.5.13
Architecture: amd64
Maintainer: Bluedot Arcade <bluedotarcade@gmail.com>
Depends: bash, systemd, udev, unclutter-xfixes
Description: Custom ITGMania build with associated services and scripts.
