[Unit]
Description=Reset itgmania to default settings when the /run/user/1000/itg/itg-reset flagfile changes.

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/check-itg-reset-flag.sh

[Install]
WantedBy=default.target
