[Unit]
Description=ITGMania Service
Requires=default.target
After=default.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/bash -c '/opt/itgmania/start.sh'
Nice=-10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=itgmania

[Install]
WantedBy=default.target