[Unit]
Description=ITGMania Service
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStartPre=/usr/bin/bash -c '[ "$ITGMANIA_SKIP_PRE" = "1" ] || sleep 3'
ExecStart=/usr/bin/bash -c '/opt/itgmania/start.sh'
Nice=-10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=itgmania

[Install]
WantedBy=graphical-session.target