ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="BSYS-UPDATE", RUN+="/bin/su - itg -c '/usr/bin/systemctl --user start update-check.service'"

ACTION=="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="BSYS-UPDATE", RUN+="/bin/su - itg -c '/usr/bin/systemctl --user start update-check.service'"
