[Unit]
Description=Shutdown OS when the /run/user/1000/itg/os-shutdown flagfile changes.
Requires=user-runtime-dir@1000.service
After=multi-user.target user-runtime-dir@1000.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/check-os-shutdown-flag.sh

[Install]
WantedBy=multi-user.target
