[Unit]
Description=Check if an update is available on a connected media storage.
Requires=user-runtime-dir@1000.service
After=multi-user.target user-runtime-dir@1000.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/check-update-from-media.sh

[Install]
WantedBy=multi-user.target
