[Unit]
Description=Perfom media update when the /run/itg/update flagfile changes.

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/check-update-flag.sh

[Install]
WantedBy=multi-user.target
