[Unit]
Description=TigerVNC Server on Display :0
After=multi-user.target network.target
StartLimitIntervalSec=0

[Service]
Type=forking
User=itg
Group=itg
WorkingDirectory=/home/itg
Environment="DISPLAY=:0"
ExecStart=/usr/bin/x0tigervncserver -rfbport 5901 -localhost no
ExecStop=/usr/bin/killall x0tigervncserver
Restart=always

[Install]
WantedBy=multi-user.target
