[Unit]
Description=Start x11vnc on display :0
After=multi-user.target network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=itg
Group=itg
WorkingDirectory=/home/itg
Environment="DISPLAY=:0"
ExecStart=/usr/bin/x11vnc -display :0 -rfbport 5901 -localhost -nopw -forever
Restart=always

[Install]
WantedBy=multi-user.target
